# maps-project
maps/.cache
maps/dist
maps/node_modules

# sort-project
sort/node_modules

#stats-project
stats/node_modules

#stats-Compare-project
statsCompare/node_modules

#Web-project
web/node_modules
web/.cache